.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #246660;

  a:hover {
    opacity: 80%;
  }
  h3 {
    margin-top: 0.35rem;
  }
  h3,
  p {
    font-size: 0.8rem;
    font-weight: bold;
    color: #f0f0f0;
    font-family: "Overpass", sans-serif;
  }
}
