form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .labelInput {
    background-color: #f0f0f0;
    padding: 0.3rem;
    color: black;
  }
  label {
    color: #fff;
  }
  .fileInput {
    visibility: hidden;
  }
  h1 {
    color: #fff;
  }
  .formGroup {
    background-color: #fff;
    border: 0.2rem solid #f0f0f0;
    border-radius: 0.35rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    padding-top: 1.2rem;

    p {
      font-family: "Unbounded", cursive;
      color: #fff;
      font-size: 30rem;
      font-weight: 700;
      font-size: 1.1rem;
      margin-bottom: 0.8rem;
      align-self: center;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.6rem;

      label {
        color: #000;
      }
      .fileUpload {
        visibility: hidden;
      }
      input {
        padding: 0.3rem;
      }
    }

    button {
      margin-top: 1rem;
      width: 6rem;
      align-self: center;
      padding: 0.2rem;
    }
  }
}
